// Brand Colors
$primary-brand-color: #2A0944;
$secondary-brand-color: #3FA796;
$tertiary-brand-color: #FEC260;
$fourth-brand-color: #A10035;

// Neutral Colors
$color-white: #fff;
$color-black: #000;

// Extra Colors
$react-logo-color: #61DBFB;
$body-color: #f1f1f1;