.nav-wrapper {
	width: 100%;
	padding: 40px 0;
	background-color: $color-white;
	border-bottom: 4px solid $primary-brand-color;
	position: fixed;
	top: 0;
	left: 0;

	ul {
		padding: 0;
		margin: 0;
		width: 100%;
		display: flex;
		justify-content: center;
	}	

	ul li {
		list-style: none;
		margin: 0 22px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	ul li a,
	ul li button {
		color: $primary-brand-color;
		font-weight: bold;
		font-size: 16px;
		cursor: pointer;
		padding: 8px;
	}

	ul li a {
		text-decoration: none;
		transition: all ease 0.2s;

		&.active {
			background-color: $primary-brand-color;
			color: $color-white;
		}
	}

	ul li button {
		border: none;
		background-color: $fourth-brand-color;
		color: $color-white;
	}
}